################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/product-oriented/jspm_packages
/product-oriented/obj
